<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="WeProtector"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weprotector"
        tools:targetApi="31">
        <activity
            android:name=".RequestConformation"
            android:exported="false" />
        <activity
            android:name=".AddPetAdmin"
            android:exported="false" />
        <activity
            android:name=".AdoptionRequestAdmin"
            android:exported="false" />
        <activity
            android:name=".AddPet"
            android:exported="false" />
        <activity
            android:name=".AdoptPet"
            android:exported="false" />
        <activity
            android:name=".HowtoHelp"
            android:exported="false" />
        <activity
            android:name=".AdminHomepage"
            android:exported="false" />
        <activity
            android:name=".AdminSignupPage"
            android:exported="false" />
        <activity
            android:name=".AdminLoginPage"
            android:exported="false" />
        <activity
            android:name=".TwoOptions"
            android:exported="false" />
        <activity
            android:name=".LogoutPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".Paybill"
            android:exported="false" />
        <activity
            android:name=".Adoption_Form"
            android:exported="false" />
        <activity
            android:name=".Adoption_Fees"
            android:exported="false" />
        <activity
            android:name=".PetDetails"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
